@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Carter+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inknut+Antiqua:wght@900&display=swap');
html {
	scroll-behavior: smooth;
  }
body {
	background:black;
	color: white;
	margin: 0px;
	padding: 0px;
}

nav {
	text-align: right;
	flex: 1;
}

header nav ul{
	margin-right: 4%;
	 
}

header nav ul li{
	font-family: cursive;
	font-size: 30px;
	list-style-type: none;
	display: inline-block;
	margin-right: 4%;
	margin-top: 4%;	 
}

header nav ul li a{
	list-style: none; 
	color: white;
	text-decoration: none;
}

header nav ul li:hover {
	 transform: scaleY(1.5);	 
}

.marq{
	margin-top:4%;
	margin-left: 10%;
	font-family: cursive;
	font-size: 20px;
	font-weight: bold;
	max-width: 20%;
	float: left;
}
.marq:hover{
	color: burlywood;
}
.container {
	position: absolute;
	overflow: auto;
	width: 100%;
	margin: none;
	padding: none;
}
.intro{
	display: inline-block;
	margin-top: 5%;
	font-size: 70px;
	margin-left:10%;
	margin-bottom: 0px;
	padding: 0px;
	font-family: 'Carter One', cursive;
	line-height: 1.5; 
}

#nik {
	/*display: inline-block;*/
	margin: 0px;
	margin-left:10%;
	padding: 0px;
	font-family: 'Inknut Antiqua';
	line-height: 1.5; 
	font-weight: 100;
	font-size: 100px;
}
#nik:hover{
	color: burlywood;
}
 .right img {
	width: 300px;
	height: 400px;
	border-radius: 50%;
	transform: scaleX(-1);
	margin-right: 10%;
 }

.left{
	float: left;
	width: 30%;
	margin: 4%;
	margin-left: 10%;	
}
.right{
	float: right;
	width: 30%;
	margin: 4%;
	margin-right: 10%
}
.footer{
	max-width: 50%;
	margin:auto;
	overflow: hidden;
	text-align: center;
	font-size: 2rem;
	margin-bottom: 1%;
	margin-top: 10%;
	border-style: solid;
	border-radius: 1rem;
	border-color: white;
	border-width: 1px;
	}
.footer i{
	margin-left: 2rem;
}
.footer h2{
	margin:1rem;
	font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
	font-size: 2rem
}
.about{
	margin: auto;
	margin-top:30%;
	width: 80%;
	height: auto;
	text-align: center;
	overflow: hidden;
	position: relative;
	
}
.abt-main{
	margin-left:0% ;
	float: left;
	max-width: 50%;
}
.abt-main h2{
	font-family: cursive;
	font-size: 2rem;
	text-align: center;
}
.abt-main p{
	display: block;
	margin-top: 10%;
	margin-right: 0;
	font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
	font-size: 1.5rem;
}
.skills{
	font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
	float: right;
	color:white;
	margin-right: 15%;
}
.about .skills h1{
	font-size: 2rem;
	margin-bottom: 3rem;

}
.about .skills img{
	width: 200px;
	height: auto;
}

footer div a{
	text-decoration: none;
	color: white;
}

footer div a:hover{
	color:rgb(255, 0, 0);
}
#mute {
	height: 3rem;
	float: right;
	margin:3rem;
}

